/* Variables */
:root {
    font-size: 14px;
    --clr-whiskey: #d5966c;
    --clr-nero: #151515;
    --clr-charcoal: #444444;
    --clr-white: #ffffff;
    --font-BigShouldersDisplay: 'Big Shoulders Display', Helvetica, sans-serif;
}

* {
    font-family: 'Outfit', sans-serif;
}

/* || Resetting ||*/
/* Box-sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Removing default styling of anchor tag */
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

/* Remove default margin */
html,
body,
nav,
div,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* COMPONENTS */

body {
    width: 100%;
}

h1,
.art-gallery-textSpan {
    font-family: var(--font-BigShouldersDisplay);
    text-transform: uppercase;
}

.map-Section {
    position: relative;
}

.backHome-OuterWrapper {
    display: flex;
    position: absolute;
}

.backHome-InnerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-nero);
    color: var(--clr-white);
    width: 13rem;
    height: 4.5rem;
}

.backHome-InnerWrapper h1 {
    font-size: 1.25rem;
    letter-spacing: 0.2rem;
}

.leftArrow-Container {
    background-color: var(--clr-whiskey);
    width: 3.5rem;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-Wrapper {
    width: 100%;
}

.map-Image {
    display: block;
    width: 100%;
}

.address-Section {
    background-color: var(--clr-nero);
    padding: 3rem 1.5rem;
}
    @media (min-width: 500px) {
        .address-Section {
            padding: 3rem 7%;
        }
    }

    /* @media (min-width: 600px) {
        .address-Section {
            padding: 3rem 10%;
        }
    } */

.ourLocation-Header {
    font-size: 3.125rem;
    color: var(--clr-white);
    margin-bottom: 3rem;
}

.address-Street {
    display: block;
    color: var(--clr-whiskey);
    text-transform: uppercase;
    font-family: var(--font-BigShouldersDisplay);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
}

.address span:not(:first-child) {
    display: block;
    font-size: 1.2rem;
    color: var(--clr-white);
    line-height: 1.75rem;
}

.advisory {
    margin-top: 1.25rem;
    font-size: 1.2rem;
    line-height: 1.75rem;
    color: var(--clr-white);
}

footer {
    background-color: var(--clr-whiskey);
    color: var(--clr-nero);
    padding: 3rem 2rem;
    height: 21rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-MainTitle {
    font-size: 1.75rem;
    line-height: 1.75rem;
}
.art-gallery-textSpan {
    display: block;
}

.footer-Description {
    font-size: 1rem;
    line-height: 1.6rem;
}

.socialMedia-icons {
    display: flex;
    width: 7rem;
    justify-content: space-between;
    color: blue;
}

.socialMedia-icons img{
    filter: invert(1);
}
